In [1]:
import pandas as pd
import numpy as np
import re
import tabula
import camelot
import pdfminer
from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.converter import TextConverter
from pdfminer.layout import LAParams
from pdfminer.pdfpage import PDFPage
try:
    from cStringIO import StringIO
except ImportError:
    from io import StringIO 
import matplotlib.pyplot as plt

In [46]:
tables=camelot.read_pdf("axis03.pdf",flavor='stream' ,pages = "all",edge_tol=500)            
if len(tables) !=0 :
    df=pd.DataFrame();    tmp=pd.DataFrame(); 
    for i in range(len(tables)) :
        tmp=tables[i].df  
        df=pd.concat([df,tmp]).drop_duplicates(keep='first').reset_index(drop=True)

In [47]:
# df.to_csv("error1.csv",index=0)

In [48]:
tmp=tables[2].df
tmp

,0,1,2,3,4,5
0,Tran Date\nValue Date\nTransaction Particulars,Chq No.,Amount,DR|CR,Balance,Branch Name
1,OPENING BALANCE :,,,,25184.55,
2,,,,,,ATM
3,14-01-2019\n14-01-2019\nEDC/00053-00053-/M0370...,,1001.90,CR,49324.09,RECONCILATION
4,,,,,,CENTRE
5,,,,,,ZAMROODPUR
6,14-01-2019\n14-01-2019\nIMPS/P2A/901412924696/...,,497.00,CR,49821.09,
7,,,,,,DEL DL
8,,,,,,ZAMROODPUR
9,14-01-2019\n14-01-2019\nIMPS/P2A/901412927199/...,,400.00,CR,50221.09,
10,,,,,,DEL DL
11,,,,,,ZAMROODPUR
12,14-01-2019\n14-01-2019\nIMPS/P2A/901412321960/...,,50005.90,DR,215.19,
13,,,,,,DEL DL
14,,,,,,ZAMROODPUR
15,15-01-2019\n15-01-2019\nECOM PUR/PAYTM/Noida/1...,,150.00,DR,65.19,
16,,,,,,DEL DL
17,BY CASH DEPOSIT-,,,,,ZAMROODPUR
18,17-01-2019\n17-01-2019,,1000.00,CR,1065.19,
19,BNA/DPRH329801/6971/170119/SOUTH D,,,,,DEL DL
20,,,,,,ZAMROODPUR
21,17-01-2019\n17-01-2019\nIMPS/P2A/901713217651/...,,1002.95,DR,62.24,
22,,,,,,DEL DL
23,,,,,,ATM
24,21-01-2019\n21-01-2019\nEDC/00054-00054-/M0370...,,2403.49,CR,2465.73,RECONCILATION
25,,,,,,CENTRE
26,,,,,,ATM
27,22-01-2019\n22-01-2019\nEDC/00055-00055-/M0370...,,1426.82,CR,3892.55,RECONCILATION
28,,,,,,CENTRE
29,,,,,,ZAMROODPUR
30,22-01-2019\n22-01-2019\nECOM PUR/PAYTM/1204770...,,400.00,DR,3492.55,
31,,,,,,DEL DL
32,BY CASH DEPOSIT-,,,,,ZAMROODPUR
33,23-01-2019\n23-01-2019,,24500.00,CR,27992.55,
34,BNA/DPRH329801/8113/230119/SOUTH D,,,,,DEL DL
35,BY CASH DEPOSIT-,,,,,ZAMROODPUR
36,23-01-2019\n23-01-2019,,500.00,CR,28492.55,
37,BNA/DPRH329801/8115/230119/SOUTH D,,,,,DEL DL
38,,,,,,ZAMROODPUR
39,24-01-2019\n24-01-2019\nECOM PUR/PTM*PAYTM/NOI...,,7000.00,DR,21492.55,
40,,,,,,DEL DL
41,,,,,,ATM
42,28-01-2019\n28-01-2019\nEDC/00056-00056-/M0370...,,1957.98,CR,23450.53,RECONCILATION
43,,,,,,CENTRE
44,BY CASH DEPOSIT-,,,,,ZAMROODPUR
45,28-01-2019\n28-01-2019,,11500.00,CR,34950.53,
46,BNA/DPRH329801/8913/280119/SOUTH D,,,,,DEL DL

In [49]:
idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
tmp.columns=tmp.iloc[idx] ; tmp=tmp.iloc[idx+1:,:] ; tmp.reset_index(drop=True,inplace=True) 
print("Columns:",tmp.columns)

Columns: Index(['Tran Date\nValue Date\nTransaction Particulars', 'Chq No.', 'Amount',
       'DR|CR', 'Balance', 'Branch Name'],
      dtype='object', name=0)

In [50]:
tmp=tmp[~tmp.index.isin(tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('page:|account status|total|reason for return|inward clg|opening balance|statement of a/c').any(), axis=1) ==True].index)]
tmp=pd.DataFrame(tmp.T.drop_duplicates().T)
# tmp.drop(tmp.nunique(dropna=False)[(tmp.nunique(dropna=False) == 1)].index, axis=1,inplace=True)

In [51]:
tmp.columns = ["A","B","C","D","E","F"]

In [52]:
tmp.reset_index(drop = True, inplace=True)

In [53]:
tmp.head()

,A,B,C,D,E,F
0,,,,,,ATM
1,14-01-2019\n14-01-2019\nEDC/00053-00053-/M0370...,,1001.90,CR,49324.09,RECONCILATION
2,,,,,,CENTRE
3,,,,,,ZAMROODPUR
4,14-01-2019\n14-01-2019\nIMPS/P2A/901412924696/...,,497.00,CR,49821.09,

In [54]:
tmp.to_csv("error1.csv",index=0)

In [55]:
tmp1 = pd.DataFrame(tmp.A.str.split('\n',2).tolist(),columns=["Z1", "Z2", "Z3"])

In [56]:
tmp1

,Z1,Z2,Z3
0,,None,None
1,14-01-2019,14-01-2019,EDC/00053-00053-/M037011032984700
2,,None,None
3,,None,None
4,14-01-2019,14-01-2019,IMPS/P2A/901412924696/919971624523/INETIMPS00073
5,,None,None
6,,None,None
7,14-01-2019,14-01-2019,IMPS/P2A/901412927199/919971624523/MOBUA01304940
8,,None,None
9,,None,None
10,14-01-2019,14-01-2019,IMPS/P2A/901412321960/0831010104411UTBI0MBZC45/
11,,None,None
12,,None,None
13,15-01-2019,15-01-2019,ECOM PUR/PAYTM/Noida/150119/10:25
14,,None,None
15,BY CASH DEPOSIT-,None,None
16,17-01-2019,17-01-2019,None
17,BNA/DPRH329801/6971/170119/SOUTH D,None,None
18,,None,None
19,17-01-2019,17-01-2019,IMPS/P2A/901713217651/62246765390SBIN0001078/
20,,None,None
21,,None,None
22,21-01-2019,21-01-2019,EDC/00054-00054-/M037011032984700
23,,None,None
24,,None,None
25,22-01-2019,22-01-2019,EDC/00055-00055-/M037011032984700
26,,None,None
27,,None,None
28,22-01-2019,22-01-2019,ECOM PUR/PAYTM/1204770770/220119/13:26
29,,None,None
30,BY CASH DEPOSIT-,None,None
31,23-01-2019,23-01-2019,None
32,BNA/DPRH329801/8113/230119/SOUTH D,None,None
33,BY CASH DEPOSIT-,None,None
34,23-01-2019,23-01-2019,None
35,BNA/DPRH329801/8115/230119/SOUTH D,None,None
36,,None,None
37,24-01-2019,24-01-2019,ECOM PUR/PTM*PAYTM/NOIDA/240119/17:50
38,,None,None
39,,None,None
40,28-01-2019,28-01-2019,EDC/00056-00056-/M037011032984700
41,,None,None
42,BY CASH DEPOSIT-,None,None
43,28-01-2019,28-01-2019,None
44,BNA/DPRH329801/8913/280119/SOUTH D,None,None

In [57]:
# tmp1.replace(r'^\s*$', np.nan, regex=True, inplace=True)
# tmp1.fillna(value=pd.np.nan, inplace=True)



# match = re.search(r'(\d+-\d+-\d+)',i)
# match.group(1)

In [58]:
# tmp1["flag"] = tmp1["Z2"].astype(str)+tmp1["Z3"].astype(str)

In [59]:
tmp1.to_csv("tmp1.csv", index=0)

In [60]:
# frames = [tmp1, tmp]
# result = pd.concat(frames)

result = pd.concat([tmp1, tmp], axis=1, sort=False)

In [62]:
result.to_csv("result.csv",index=0)

In [63]:
result.drop('A' ,axis=1, inplace=True)

In [64]:
result.columns

Index(['Z1', 'Z2', 'Z3', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [65]:
result["xx"] = result["Z1"]

In [66]:
result.to_csv("result.csv",index=0)

In [67]:
for i,j in enumerate(result["Z1"]):
    if re.search(r'(\d+-\d+-\d+)',j):
        result.at[i, 'xx'] = ""
        pass
    elif re.search(r'^\s*$',j):
        result.at[i, 'xx'] = ""
        pass
    else:
        print(j)

BY CASH DEPOSIT-
BNA/DPRH329801/6971/170119/SOUTH D
BY CASH DEPOSIT-
BNA/DPRH329801/8113/230119/SOUTH D
BY CASH DEPOSIT-
BNA/DPRH329801/8115/230119/SOUTH D
BY CASH DEPOSIT-
BNA/DPRH329801/8913/280119/SOUTH D

In [68]:
result

,Z1,Z2,Z3,B,C,D,E,F,xx
0,,None,None,,,,,ATM,
1,14-01-2019,14-01-2019,EDC/00053-00053-/M037011032984700,,1001.90,CR,49324.09,RECONCILATION,
2,,None,None,,,,,CENTRE,
3,,None,None,,,,,ZAMROODPUR,
4,14-01-2019,14-01-2019,IMPS/P2A/901412924696/919971624523/INETIMPS00073,,497.00,CR,49821.09,,
5,,None,None,,,,,DEL DL,
6,,None,None,,,,,ZAMROODPUR,
7,14-01-2019,14-01-2019,IMPS/P2A/901412927199/919971624523/MOBUA01304940,,400.00,CR,50221.09,,
8,,None,None,,,,,DEL DL,
9,,None,None,,,,,ZAMROODPUR,
10,14-01-2019,14-01-2019,IMPS/P2A/901412321960/0831010104411UTBI0MBZC45/,,50005.90,DR,215.19,,
11,,None,None,,,,,DEL DL,
12,,None,None,,,,,ZAMROODPUR,
13,15-01-2019,15-01-2019,ECOM PUR/PAYTM/Noida/150119/10:25,,150.00,DR,65.19,,
14,,None,None,,,,,DEL DL,
15,BY CASH DEPOSIT-,None,None,,,,,ZAMROODPUR,BY CASH DEPOSIT-
16,17-01-2019,17-01-2019,None,,1000.00,CR,1065.19,,
17,BNA/DPRH329801/6971/170119/SOUTH D,None,None,,,,,DEL DL,BNA/DPRH329801/6971/170119/SOUTH D
18,,None,None,,,,,ZAMROODPUR,
19,17-01-2019,17-01-2019,IMPS/P2A/901713217651/62246765390SBIN0001078/,,1002.95,DR,62.24,,
20,,None,None,,,,,DEL DL,
21,,None,None,,,,,ATM,
22,21-01-2019,21-01-2019,EDC/00054-00054-/M037011032984700,,2403.49,CR,2465.73,RECONCILATION,
23,,None,None,,,,,CENTRE,
24,,None,None,,,,,ATM,
25,22-01-2019,22-01-2019,EDC/00055-00055-/M037011032984700,,1426.82,CR,3892.55,RECONCILATION,
26,,None,None,,,,,CENTRE,
27,,None,None,,,,,ZAMROODPUR,
28,22-01-2019,22-01-2019,ECOM PUR/PAYTM/1204770770/220119/13:26,,400.00,DR,3492.55,,
29,,None,None,,,,,DEL DL,
30,BY CASH DEPOSIT-,None,None,,,,,ZAMROODPUR,BY CASH DEPOSIT-
31,23-01-2019,23-01-2019,None,,24500.00,CR,27992.55,,
32,BNA/DPRH329801/8113/230119/SOUTH D,None,None,,,,,DEL DL,BNA/DPRH329801/8113/230119/SOUTH D
33,BY CASH DEPOSIT-,None,None,,,,,ZAMROODPUR,BY CASH DEPOSIT-
34,23-01-2019,23-01-2019,None,,500.00,CR,28492.55,,
35,BNA/DPRH329801/8115/230119/SOUTH D,None,None,,,,,DEL DL,BNA/DPRH329801/8115/230119/SOUTH D
36,,None,None,,,,,ZAMROODPUR,
37,24-01-2019,24-01-2019,ECOM PUR/PTM*PAYTM/NOIDA/240119/17:50,,7000.00,DR,21492.55,,
38,,None,None,,,,,DEL DL,
39,,None,None,,,,,ATM,
40,28-01-2019,28-01-2019,EDC/00056-00056-/M037011032984700,,1957.98,CR,23450.53,RECONCILATION,
41,,None,None,,,,,CENTRE,
42,BY CASH DEPOSIT-,None,None,,,,,ZAMROODPUR,BY CASH DEPOSIT-
43,28-01-2019,28-01-2019,None,,11500.00,CR,34950.53,,
44,BNA/DPRH329801/8913/280119/SOUTH D,None,None,,,,,DEL DL,BNA/DPRH329801/8913/280119/SOUTH D

In [69]:
result.fillna(value=pd.np.nan, inplace=True)

In [73]:
# for i in result["Z3"]:
#     print(type(i))

In [82]:
result['X'] = result['Z3'].fillna('') + result['xx'].fillna('')

In [83]:
result.to_csv("result.csv",index=0)